@import "style.css";

.contact-page .contact-p-box {
  padding: 0 50px;
}

.contact-page .contact-img {
  background: url("../img/about.jpg") no-repeat center center/cover;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--clr-dark-green);
  border-radius: 10px;
  margin: 50px 80px;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contact-info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contact-info .box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-dark);
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--clr-light);
}

.container .contact-info .box .text {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.container .contact-info .box .text h3 {
  color: var(--clr-dark-green);
}

.form {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form h3 {
  padding: 10px 0;
  text-align: center;
}

input,
textarea {
  width: 90%;
  margin-top: 10px;
}

textarea {
  height: 200px !important;
  resize: none;
  line-height: 20px;
  resize: none;
}

.contact-page .contact-p-box h4 {
  padding-bottom: 15px;
}

.contact-page .contact-p-box h1 {
  color: var(--clr-dark-green);
}

.contact-page .contact-p-box p {
  padding: 15px 0;
}
