@import "style.css";

#home {
  background: var(--clr-beige) url(../img/home-bg.png) no-repeat top 25% right
    80px;
  background-size: contain;
  height: 90vh;
  width: 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#home h1,
#home-shop .home-content h1,
.contact-p-box h1 {
  color: var(--clr-dark-green);
  font-size: 45px;
}

#home h2,
.product h2,
.about-box h2,
.featured-products h2,
.contact-p-box h2,
.contact h2 {
  font-size: 30px;
}

#home h4 {
  padding-bottom: 15px;
}

#home p {
  padding: 15px 0;
}

/* Feature */

#feature {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fe-box {
  width: 300px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}
.fe-box:hover {
  box-shadow: 10px 10px 54px rgba(48, 47, 47, 0.1);
}

.fe-box i {
  font-size: 25px;
  color: var(--clr-dark);
}
.fe-box h6 {
  display: inline-block;
  padding: 10px 8px;
  line-height: 1;
  color: var(--clr-dark-green);
}

.fe-box p {
  font-size: 12px;
}

/* Products */

.product {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.product-container {
  padding: 30px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.product-card {
  flex: 0 0 auto;
  width: 280px;
  margin-right: 40px;
  border-radius: 10px;
  padding: 10px 12px;
  border: 1px solid #e2e0e0;
  box-shadow: var(--box-shadow);
  position: relative;
}

.product-card .product-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  background: var(--clr-light-beige);
  border-radius: 15px;
}

.product-card .product-img img {
  width: 100%;
}

.product-card .product-img .discount-tag {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.788);
  padding: 5px;
  border-radius: 8px;
  color: var(--clr-chestnut);
  right: 20px;
  top: 20px;
}

.product-card .product-img .card-btn {
  position: absolute;
  bottom: 15px;
  right: 10px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.788);
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .product-img .card-btn {
  opacity: 1;
}

.product-card .product-img .card-btn:hover {
  background: rgba(209, 198, 198, 0.788);
}

.product-info {
  text-align: start;
  padding: 10px 0;
}

.product-info .brand-name {
  color: var(--clr-medium);
  font-size: 12px;
}

.product-info .star {
  font-size: 12px;
  color: #f1c40f;
  padding: 5px 0;
}

.product-info .product-price {
  text-decoration: line-through;
  font-size: 14px;
  padding-left: 5px;
}

.product-info .actual-price {
  color: var(--clr-chestnut);
  font-weight: 500;
  font-size: 18px;
}
.product-card .fa-cart-shopping {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background: var(--clr-light-green);
  color: var(--clr-dark-green);
  border: 1px solid #cbe9cb;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.61);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
}

.nxt-btn {
  right: 0;
}

.pre-btn i,
.nxt-btn i {
  opacity: 0.2;
}

.pre-btn:hover i,
.nxt-btn:hover i {
  opacity: 1;
}

/* Newsletter */

#newsletter {
  background: url("../img/newsletter.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

#newsletter form {
  max-width: 500px;
  margin-left: auto;
  text-align: center;
  padding: 5rem 80px 5rem 0;
}

#newsletter form h2 {
  font-size: 30px;
}

#newsletter form .input-box {
  width: 100%;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
}

/* Banner */

#banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.banner-box {
  background: url(../img/banner.jpg) no-repeat center center/cover;
}
.banner-box-2 {
  background: url(../img/banner-2.jpg) no-repeat center center/cover;
}

.banner-box,
.banner-box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-width: 500px;
  width: 600px;
  height: 60vh;
}

.banner-box h2,
.banner-box-2 h2 {
  font-size: 40px;
  letter-spacing: 5px;
  padding: 10px 0;
  color: var(--clr-light);
}

.banner-box h4,
.banner-box-2 h4,
.banner-box p,
.banner-box-2 p {
  color: var(--clr-light);
}

/* Collections */

#collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.collection > div {
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translateX(-50%, -50%);
  text-align: start;
  background: rgba(255, 255, 255, 0.322);
  padding: 20px;
}

.collection h4 {
  color: var(--clr-dark-green);
}

.collection h2 {
  color: #fff;
  padding: 5px 0;
}

.collection p {
  color: var(--clr-dark);
  font-size: 14px;
}

/* About Us */

#about-us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 500px;
  width: 600px;
  height: 70vh;
}

.img-box {
  background: url(../img/about.jpg) no-repeat center;
  background-size: 100%;
}

.about-box p {
  padding: 15px 0;
  line-height: 2;
  font-size: 16px;
}
